<section class="blogs" id="blogs" style="background-color: #3489ed">

    <h1 class="heading">
        Vedas <span>Books</span>
    </h1>

    <div class="box-container" id="books">

        <div class="box" id="cart">
            <div class="image">
                <img src="https://m.media-amazon.com/images/I/81d9OsFyHsL.SL1500.jpg">

            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Non, dicta.</p>
                <a href="#" class="button" style="background-color: #110c4d">read
                    more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img
                    src="https://5.imimg.com/data5/SELLER/Default/2022/11/IH/BN/QN/20997035/educational-books-500x500.jpg">
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Non, dicta.</p>
                <a href="#" class="button" style="background-color: #110c4d">read
                    more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="https://champaca.in/cdn/shop/products/81ZOW3k-0fL_1024x1024@2x.jpg?v=1671785944">

            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Non, dicta.</p>
                <a href="#" class="button" style="background-color: #110c4d">read
                    more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img
                    src="https://5.imimg.com/data5/SELLER/Default/2022/11/IH/BN/QN/20997035/educational-books-500x500.jpg">

            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Non, dicta.</p>
                <a href="#" class="button" style="background-color: #110c4d">read
                    more</a>
            </div>
        </div>

    </div>

</section>