
<div class="container">
    <div class="row">
        <img src="../../../assets/images/Writing room.gif">
        <div class="col">
            <h2 class="display_text mt-2 ">"Elevate Your Learning Experience with Interactive and Insightful" <br>
                <span class="p">e-Library Platform</span></h2>
            <h4>Welcome to our E-Library – your gateway to a world of knowledge and inspiration. Dive into a vast
                collection of e-books, articles, and resources carefully curated for your intellectual exploration.
                Explore diverse genres, from literature to technology, with an easy-to-navigate display page. Immerse
                yourself in a seamless reading experience, with interactive features enhancing your engagement. Our
                user-friendly platform ensures effortless access to a plethora of information. Stay updated with the
                latest releases, discover hidden gems, and broaden your horizons. Join our vibrant community of readers
                and embark on a journey of continuous learning. Your next literary adventure awaits on our E-Library
                display page. </h4>
            <button type="#" mat-raised-button color="#3489ed"><a href="#about">Explore</a>
                <mat-icon color="primary">explore</mat-icon></button>
        </div>
    </div>
    <hr>
 </div>

<app-aboutus></app-aboutus>

<app-faq></app-faq>

<app-contact></app-contact>
