.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #90bde7;
    padding: 2%;

}


a {
    text-decoration: none;

}

img {
    width: 35%;
    height: 70%;
    border-radius: 2%;

}

#form-div {

    width: 50%;
}

button {
    align-items: center;
    width: 100%;
    background-color: white;
}

button:hover {
    background-color: #3489ed;
    color: white;
}

#emailHelp {
    color: white;
}

/* Default styles */
.container {
    padding: 20px;
  }
  
  /* Styles for medium devices and above */
  @media (min-width: 768px) {
    .col-md-8 {
      max-width: 60%; /* Adjust width of the form container */
    }
  }
  
  /* Styles for large devices and above */
  @media (min-width: 992px) {
    .col-lg-6 {
      max-width: 50%; /* Adjust width of the form container */
    }
  }
  
  /* Styles for extra large devices and above */
  @media (min-width: 1200px) {
    .col-xl-4 {
      max-width: 33.33%; /* Adjust width of the form container */
    }
  }
  
  /* Styles for all devices */
  /* You can add more specific styles as needed */
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
  
  .btn {
    width: 100%;
    margin-top: 15px;
  }
  
  .text-center {
    text-align: center;
  }
  