<div class="md:ml-2 mr-2">
  <mat-toolbar class="sticky-navbar md:pl-8 md:pr-8 md:rounded-full text-white bg-[#3489ed] shadow-sm" color="primary">
    <mat-toolbar-row>
      <span class="logo">Open<span id="p">Library</span></span>
      <span class="menu-spacer"></span>

      <!-- Desktop menu items -->
      <div fxShow="true" fxHide.lt-md>
        <a *ngIf="!isLoggedIn" routerLink="/" mat-button class="nav1">Home</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/about'" mat-button class="nav1">About</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/faq'" mat-button class="nav1">Faq</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/contact'" mat-button class="nav1">Contact</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="nav1">Login</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="nav1">Register</a>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" routerLink="/admin/profile" mat-button class="example-icon mr20 nav1">
          Admin : {{login.getUser().username}}
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'USER'" routerLink="/user-dashboard/profile" mat-button class="example-icon mr20 nav1">
          USER : {{login.getUser().username}}
        </button>

        <button *ngIf="isLoggedIn" (click)="logout()" mat-button class="example-icon mr20 ml20 nav1">
          Logout <mat-icon>logout</mat-icon>
        </button>
      </div>

      <!-- Mobile menu toggle -->
      <button id="tog" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a *ngIf="!isLoggedIn" routerLink="/" mat-button class="nav">Home</a>
        <a *ngIf="!isLoggedIn" href="#about" mat-button class="nav">About</a>
        <a *ngIf="!isLoggedIn" href="#faq" mat-button class="nav">Faq</a>
        <a *ngIf="!isLoggedIn" href="#contact" mat-button class="nav">Contact</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="nav">Login</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="nav">Register</a>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" routerLink="/admin/profile" (click)="sidenav.toggle()" mat-button class="example-icon mr20 nav">
          Admin : {{login.getUser().username}}
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" routerLink="/admin" (click)="sidenav.toggle()" mat-button class="example-icon mr20 nav">
          <mat-icon mat-list-icon>home</mat-icon> Home
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'USER'" routerLink="/user-dashboard/profile" (click)="sidenav.toggle()" mat-button class="example-icon mr20 nav">
          USER : {{login.getUser().username}}
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" (click)="sidenav.toggle()" routerLink="/admin/profile" mat-button class="example-icon ml20 mr20 nav">
          <mat-icon mat-list-icon>account_circle</mat-icon> Your Profile
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" (click)="sidenav.toggle()" routerLink="/admin/categories" mat-button class="example-icon ml20 mr20 nav">
          <mat-icon mat-list-icon>category</mat-icon> Categories
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" (click)="sidenav.toggle()" routerLink="/admin/add-category" mat-button class="example-icon ml20 mr20 nav">
          <mat-icon mat-list-icon>queue</mat-icon> Add Category
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" (click)="sidenav.toggle()" routerLink="/admin/quizzes" mat-button class="example-icon ml20 mr20 nav">
          <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
        </button>

        <button *ngIf="isLoggedIn && login.getUserRole() == 'ADMIN'" (click)="sidenav.toggle()" routerLink="/admin/add-quiz" mat-button class="example-icon ml20 mr20 nav">
          <mat-icon mat-list-icon>add</mat-icon> Add Quizzes
        </button>

        <hr>

        <button *ngIf="isLoggedIn" (click)="logout()" mat-button class="example-icon mr20 ml20 nav">
          Logout <mat-icon>logout</mat-icon>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
