
<footer class="bg-light text-center text-lg-start footer">
  <!-- Copyright -->
  <div class="footer text-center p-3">
    © 2024 Copyright : 
    <a class="text-dark" routerLink="/">OpenLibrary.com </a>| <a href="#about"> About Us </a> | <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> Terms of Service </a>
  </div>
  <!-- Copyright -->
</footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Terms and Conditions</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <b>Access: </b>Access to the e-library is granted to registered members only. Members must be 15 years of age or older to access the library. By accessing the Open-Library, you agree to these terms and conditions.
            <br>
           <b>Membership: </b>Memberships are available to individuals who meet the eligibility criteria. To become a member, you must complete the registration process and provide accurate and complete information. You are responsible for keeping your account information up-to-date. <br>

            <b>Access Restrictions: </b>The Open-Library reserves the right to restrict or terminate access to any member who violates these terms and conditions or engages in any activity that is harmful to the e-library. <br>

            <b>Copyright: </b> All materials in the Open-Library are protected by copyright law. Members may use the materials for personal, educational, or research purposes only. Members may not copy, reproduce, distribute, or use the materials for commercial purposes without prior written permission from the copyright owner. <br>

            <b>Security: </b> Members are responsible for maintaining the confidentiality of their login information and for all activities that occur under their account. The Open-Library is not responsible for any unauthorized access to member accounts. <br>
            <b>Use of Resources: </b> Members are responsible for using the Open-Library's resources in a manner consistent with the Open-Library's mission and policies. Members may not use the e-library's resources for illegal, unethical, or inappropriate purposes. <br>
            <b>Liability: </b>The Open-Library is not liable for any damages, including but not limited to direct, indirect, incidental, or consequential damages, arising from the use or inability to use the e-library's resources. <br>

            <b>Termination:  </b>The Open-Library reserves the right to terminate a member's access to the Open-Library for any reason, including but not limited to violation of these terms and conditions.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">I Agree</button>
        </div>
      </div>
    </div>
  </div>