<mat-card>
    <div class="mt20 ml20 mr20">

        <h2>Details of All the Authors </h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Author ID</th>
                    <th>Author Name</th>
                    <th>Book List</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of authors">
                    <td>{{a.authorId }}</td>
                    <td>{{ a.authorName }}</td>
                    <td>{{ a.books }}</td>
                    <td><button mat-flat-button color="warn" (click)="deleteAuthor(a.authorId)">Delete</button>
                        <button mat-flat-button color="primary" class="ml20">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container text-center mt20 mb20">
        <button routerLink="/admin/add-author" mat-raised-button color="primary">Add New Author</button>
    </div>

</mat-card>