<!-- <p>add-question works!</p>
{{ question | json }} -->

<div class="bootstrapper-wrapper">
    <div class="row mt20 ml20">
        <div class="col-md-12">
            <h1>Adding Question to {{ qTitle }}</h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Enter the detail of the new question
                    </mat-card-subtitle>
                </mat-card-header>
                <form class="m" (submit)="formSubmit()">
                    <!-- contect field -->
                    <mat-form-field class="w100">
                        <mat-label>Enter Question Content</mat-label>
                        <textarea row="8" [(ngModel)]="question.content" name="content" matInput
                            placeholder="Enter Content of Question here..." required=""></textarea>

                    </mat-form-field>

                    <!-- options -->
                    <div class="row">                        
                        <div class="col-md-6">
                            <!-- option1 -->
                            <mat-form-field class="w100">
                                <mat-label>Enter Option1</mat-label>
                                <input [(ngModel)]="question.option1" name="option1" type="text" matInput
                                    placeholder="Enter Option 1 ..." required="">
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <!-- option2 -->
                            <mat-form-field class="w100">
                                <mat-label>Enter Option2</mat-label>
                                <input [(ngModel)]="question.option2" name="option2" type="text" matInput
                                    placeholder="Enter Option 2..." required="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- option3 -->
                            <mat-form-field class="w100">
                                <mat-label>Enter Option3</mat-label>
                                <input [(ngModel)]="question.option3" name="option3" type="text" matInput
                                    placeholder="Enter Option 3 ..." required="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- option4 -->
                            <mat-form-field class="w100">
                                <mat-label>Enter Option4</mat-label>
                                <input [(ngModel)]="question.option4" name="option4" type="text" matInput
                                    placeholder="Enter Option 4 ..." required="">
                            </mat-form-field>
                        </div>

                        <mat-form-field>
                            <mat-label>Select Answer</mat-label>
                            <mat-select required="" [(ngModel)]="question.answer" name="answer">
                                <mat-option *ngIf="question.option1" [value]="question.option1"> {{ question.option1}}
                                </mat-option>
                                <mat-option *ngIf="question.option2" [value]="question.option2">{{
                                    question.option2}}</mat-option>
                                <mat-option *ngIf="question.option3" [value]="question.option3">{{
                                    question.option3}}</mat-option>
                                <mat-option *ngIf="question.option4" [value]="question.option4">{{
                                    question.option4}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary"> Add </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>

<!-- {{question|json}} -->