<section id="blogs" class="bg-blue-600 py-4 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-center text-white mb-10">
      Computer <span class="text-yellow-300">Books</span>
    </h1>
  
    <div id="books" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Book Card -->
      <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">
        <div class="h-72 overflow-hidden">
          <img src="https://pictures.abebooks.com/isbn/9781584883609-uk.jpg" alt="Book 1" class="w-full h-full object-cover">
        </div>
        <div class="p-3">
          <p class="text-gray-700 text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
          <a href="#" class="inline-block bg-indigo-900 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition">Read More</a>
        </div>
      </div>
  
      <!-- Book Card -->
      <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">
        <div class="h-72 overflow-hidden">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51%2BgwRCd9PL.jpg" alt="Book 2" class="w-full h-full object-cover">
        </div>
        <div class="p-3">
          <p class="text-gray-700 text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
          <a href="#" class="inline-block bg-indigo-900 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition">Read More</a>
        </div>
      </div>
  
      <!-- Book Card -->
      <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">
        <div class="h-72 overflow-hidden">
          <img src="https://m.media-amazon.com/images/I/51Lz6w99KSL.jpg" alt="Book 3" class="w-full h-full object-cover">
        </div>
        <div class="p-3">
          <p class="text-gray-700 text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
          <a href="#" class="inline-block bg-indigo-900 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition">Read More</a>
        </div>
      </div>
  
      <!-- Book Card -->
      <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:scale-105 transition duration-300">
        <div class="h-72 overflow-hidden">
          <img src="https://pictures.abebooks.com/isbn/9781584883609-uk.jpg" alt="Book 4" class="w-full h-full object-cover">
        </div>
        <div class="p-3">
          <p class="text-gray-700 text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
          <a href="#" class="inline-block bg-indigo-900 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition">Read More</a>
        </div>
      </div>
    </div>
  </section>
  